.invoice-box {
  margin-top: 5rem;
  display: flex;
  flex-flow: row wrap;
  margin: 5rem 5rem 5rem 10rem;
}

.invoice-data {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  padding: 2rem 2rem;
  // background-color: blue;
  margin-top: 2rem;
  margin-left: 2rem;  
  justify-content: center;
  width: 40rem;
  // height: 100%;
  border: 0.3px solid rgb(194, 194, 194);
  // display: flex;

  &-flex {
    display: flex;
    justify-content: space-between;
  }
  &-id {
    font-weight: 700;
  }

  &-name {
    margin-left: 2rem;
    font-size: 1.5rem;    

  }

  &-company {
    margin-left: 2rem;
    font-size: 1.5rem;    
  }

  &-hr {
    border: 0.3px solid rgb(194, 194, 194);
  }

  &-pdf {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color: $color-primary;
  }
}

.fa-edit {
  cursor: pointer;
  font-size: 2.5rem;
  color: rgb(52, 54, 84);
}



.invoice-list {
  justify-content: center;
  padding: 2rem 2rem;
  margin-left: 2rem;
  width: 100rem;
  height: 4rem;
  border: 0.3px solid rgb(194, 194, 194);
  display: flex;
  justify-content: space-evenly;
  align-items: center;


  &-id {
  margin-left: 5rem;
  width: 15rem;
  font-weight: 700;
  cursor: pointer;
  text-align: left;

  &:hover {
    color: $color-primary;
  }
  }

  &-box {
    &_name {
      width: 15rem;
      // text-align: center;
      // background-color:pink;
      margin-left: 2rem;
      font-size: 1.5rem;    
    }
  }

  &-company {
    width: 15rem;
    margin-left: 2rem;
    font-size: 1.5rem;    
  }

  &-hr {
    border: 0.3px solid rgb(194, 194, 194);
  }

  &-pdf {
    width: 15rem;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }
  &-reminder {
    width: 10rem;
    margin-left: 10rem;
    display: flex;

  }
}

.invoice-list-headers {
  display: flex;
  justify-content: space-between;

}

.invoice-list-headerdiv {
  margin-left: 5rem;
  margin-right: 12rem;
}
.fa-edit {
  cursor: pointer;
  font-size: 2.5rem;
  color: rgb(52, 54, 84);
}