.billing {
  background-color: #ffffff;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  // box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.459);
  height: 100%;
  margin: 0 auto;
  // position: relative;
  display: flex;

  &-container {
    // display: flex;
    // justify-content: center;
    // margin-top: 20rem;
    // align-items: center;
    // background-color: blue;
    width: 100%;

    @include respond(smallphone) {
      margin-top: 36px;
    }
  }

  &-navigation {
    display: flex;
    justify-content: space-around;
    border: 0.3px solid rgb(210, 210, 210);
    height: 6rem;
    min-height: 6rem;

    @include respond(smallphone) {
      height: auto;
    }

    &_container {
      text-align: center;
      width: 25%;
      margin: 0.5rem;
      border: '1rem solid black';
    }

    &_data_title {
      text-decoration: underline;
      margin: auto;
    }

    &_data {
      margin: auto;
    }
  }

  &-window {
    margin: 3rem;
    max-width: 70rem;
  }

  &-title {
    font-size: 6rem;
  }

  &-purchase {
    font-size: 2rem;
  }

  &-radio {
    margin: 1rem 0;
    &_label {
    }

    &_select {
      margin-right: 1rem;
    }
  }
  &-quantity_input {
    width: 5rem;
  }
}

.connect-stripe_button {
  color: white;
  height: 4rem;
  width: 100%;
  max-width: 18rem;
  border: none;
  background-color: $color-secondary;
  border-radius: 0.5rem;
}

.payInvoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 50rem;
  border: 0.3px solid rgb(153, 153, 153);
}

.checkout {
  // background-color: blue;
  &_complete {
  }

  &_button {
    max-width: 18rem;
    min-width: 10rem;
  }
}

.admin-title {
  font-size: 4rem;
}
