.invoice {
  display: flex;
  background-color: #ffffff;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.459);
  margin-left: 10rem;
  width: 120rem;
  margin: 0 auto;
  position: relative;

  &-main {
    display: flex;
    flex-direction: column;
    
  }
  &-navigation {
    display: flex;
    // border-left: 0.3px solid rgb(193, 193, 193);
    justify-content: flex-start;
    align-items: center;
    // border:  0.3px solid rgb(193, 193, 193);
    background-color: #2E2E2E;
    height: 7rem;
    // width: 1oorem;

  }

  &-search {
    &_input {
      margin-left: 4rem;
      background-color: rgb(235, 235, 235);
      padding: 0.4rem;
      width: 20rem;
      height: 4rem;
      border-radius: 1rem;
      border: $main-border;
      &:focus {
        width: 25rem;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      }
    }
  }

  &-sort {
    color:white;
    border-left: 0.3px solid rgba(255, 255, 255, 0.66);
    padding: 2rem 2rem;
    cursor: pointer;
    display: flex;
    &:hover {
      color:$color-primary;
    }
  }
  &-new {
    border-left: 0.3px solid rgba(184, 184, 184, 0.66);
    border-right:0.3px solid rgba(184, 184, 184, 0.66);
    color: white;
    display: flex;
    cursor: pointer;
    padding: 2rem 2rem;
    margin-left: 2rem;  
    // justify-content: center;
    width:  10rem;
    &:hover {
      color:$color-primary;
    }

  }
  &-box {
    display: flex;
    flex-flow: row wrap;
    margin: 5rem 5rem 5rem 10rem;
  }
  
  &-data {
    cursor: pointer;
    padding: 2rem 2rem;
    // background-color: blue;
    margin-top: 2rem;
    margin-left: 2rem;  
    justify-content: center;
    width: 40rem;
    // height: 100%;
    border: 0.3px solid rgb(194, 194, 194);
  }

  &-pdf {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  &-id {
    font-weight: 700;
    font-size: 1.2;
  }
  &-form {
    width: 35rem;
    height: 35rem;
    // border: 0.5px solid rgb(220, 220, 220);
    margin: 15rem auto;
  }
}

.fa-arrow-left {
  margin-left: 2rem;
  margin-top:1rem;
  font-size: 3rem;
  color: $color-primary;
}
//////////////////////
// Add Invoice
//////////////////////

.add-invoice {

  &_field {
    border: 0.3px solid rgb(216, 216, 216);
    height: 4rem;
    width: 100%;
  }

  &_submit {
    color: white;
    height: 4rem;
    width: 100%;
    border: none;
    background-color: $color-error;
    border-radius: .5rem;

  }
}

.view-invoice {
  display: flex;
  background-color: #ffffff;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.459);
  width: 120rem;
  margin: 0 auto;
  position: relative;

  &-main {
    width: inherit;
  }

  &-navigation {
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    background-color: #2E2E2E;
    height: 7rem;

    &_delete {
      color: white;
      padding: 1rem;
      margin-left: 3rem;
      
    }
    &_update {
      color: white;
      padding: 1rem;
    }
  }
  &-details {
    width: 20rem;
    border: 0.5px solid rgb(218, 218, 218);
    height: 30rem;
  }

  &-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  &-editDelete {
    display: flex;
  }
}

.navigation-line {
  margin: 0;
  height: 7rem;
  border: 0.5px solid rgba(255, 255, 255, 0.139);
}
.fa-sort {
  margin-left: 1px;
  font-size: 2rem;
}

.fa-trash {
  color: white;
  font-size: 5rem;
}