.invoice {
  display: flex;
  background-color: #ffffff;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.459);
  margin-left: 10rem;
  width: 120rem;
  margin: 0 auto;
  position: relative;

  &-search {
    position: absolute;
    // top:
    left: 18rem;
    &_input {
      margin-top: 2rem;
      // margin-left: 2rem;
      padding: 0.4rem;
      width: 30rem;
      height: 40px;
      border-radius: 5%;
      border: 0.7px solid rgb(204, 204, 204);
      &:focus {
        width: 40rem;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      }
    }
  }
  
  &-box {
    padding: 2rem 2rem;
    // background-color: blue;
    margin-top: 10rem;
    margin-left: 2rem;  
    justify-content: center;
    width: 40rem;
    height: 100%;
    border: 0.3px solid rgb(194, 194, 194);
  }

  &-pdf {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  &-id {
    font-weight: 700;
    font-size: 1.2;
  }

  &-new {
    display: flex;
    cursor: pointer;
    padding: 2rem 2rem;
    // background-color: blue;
    margin-top: 15rem;
    margin-left: 2rem;  
    // justify-content: center;
    width:  10rem;
    // height: 10rem;
    // border: 1px solid $color-primary;
    // height: 100%;
  }
  &-form {
    width: 35rem;
    height: 35rem;
    // border: 0.5px solid rgb(220, 220, 220);
    margin: 15rem auto;
  }
}
.try {
  margin-top: 10rem;
}

.fa-arrow-left {
  margin-left: 2rem;
  margin-top:1rem;
  font-size: 3rem;
  color: $color-primary;
}
//////////////////////
// Add Invoice
//////////////////////

.add-invoice {

  &_field {
    border: 0.3px solid rgb(216, 216, 216);
    height: 4rem;
    width: 100%;
  }

  &_submit {
    color: white;
    height: 4rem;
    width: 100%;
    border: none;
    background-color: $color-error;
    border-radius: .5rem;

  }
}


