.landing {
  background-color: $color-white;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  // justify-content: center;
  margin: 0 auto;
  height: 110rem;
  
  &-container {
    position: relative;
    // width: 150rem;
    // margin: 5rem auto;

    // @include respond(desktop) { // width < 1200 ?
    //   width: 180rem;
    // }
  }

  &-title {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.365);
    font-size: 15rem;
    margin-left: 30rem;
    text-align: center;
    color: white;
    position: absolute;
    top: 19rem;
    left: 10rem;
    @include respond(tab-land) { // width < 1200 ?
      left: -5rem;// 1rem = 9px, 9/16 = 50%
    }
    @include respond(tab-port) {
      left: -5rem;
    }
    @include respond(phone)  {
      left: -15rem;
      // background-color: blue;
    }
  }

  &-slogan {
    margin-left: 30rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.365);
    color: $color-secondary;
    font-size: 3rem;
    position: absolute;
    top: 34rem;
    left: 33rem;
    @include respond(tab-land) { // width < 1200 ?
      left: 18rem;// 1rem = 9px, 9/16 = 50%
    }
    @include respond(tab-port) {
      left: 15rem;
    }
    @include respond(phone) {
      left: 7rem;
    }
  }

  &-image {
    margin: 0 auto;
    
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.459);
    width: 200rem;
    min-height: 110rem;
    @include respond(tab-land) { // width < 1200 ?
      width: 200rem;// 1rem = 9px, 9/16 = 50%
    }
    @include respond(tab-port) {
      min-height: 110rem;

    }
    @include respond(phone) { // width < 1200 ?
      max-width: none;
      // max-height: 120rem;
    }

  }

  &-signin {
    border: 1px solid $color-primary;
    font-size: 1.2rem;
    background-color: #435c94;
    color: $color-white;
    height: 5rem;
    width: 15rem;
    border-radius: .5rem;
    position: absolute;
    top: 68rem;
    left: 75rem;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.753);

    @include respond(tab-land) { // width < 1200 ?
      // top: 32rem;
      left: 65rem;// 1rem = 9px, 9/16 = 50%
    }
    @include respond(tab-port) {

      left: 50rem;
    }
    @include respond(phone) { // width < 1200 ?
      left: 20rem;
      top: 50rem;
    }

  }
}

.landing-signup {
  border: none;
  // padding: 10px;
  font-size: 1.2rem;
  background-color: #435c94;
  color: $color-white;
  height: 5rem;
  width: 15rem;
  border-radius: .5rem;
  position: absolute;
  top: 68rem;
  left: 95rem;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  background-color: $color-white;

  @include respond(tab-land) { // width < 1200 ?
    // top: 32rem;
    left: 85rem;// 1rem = 9px, 9/16 = 50%
  }
  @include respond(tab-port) {

    left: 70rem;
  }

  @include respond(phone) { // width < 1200 ?
    left: 40rem;
    top: 50rem;
  }
}



