.landing {
  background-color: #ffffff;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.459);
  // height: 150rem;
  width: 120rem;
  margin: 0 auto;
  position: relative;

  &-header {
    background-color: #222;
    color: white;
  }

  &-title {
    font-size: 10rem;
    text-align: center;
    color: white;
    position: absolute;
    top: 19rem;
    left: 10rem;
  }

  &-slogan {
    color: rgb(255, 10, 10);
    font-size: 2rem;
    position: absolute;
    top: 28rem;
    left: 25rem;
  }

  &-image {
    width: 100%;
  }

  &-signin {
    border: none;
    font-size: 1.2rem;
    background-color: #435c94;
    color: white;
    height: 4rem;
    width: 12rem;
    border-radius: .5rem;
    position: absolute;
    top: 68rem;
    left: 52rem;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.753);
  }
}

.landing-signup {
  border: none;
  // padding: 10px;
  font-size: 1.2rem;
  background-color: #435c94;
  color: white;
  height: 4rem;
  width: 12rem;
  border-radius: .5rem;
  position: absolute;
  top: 68rem;
  left: 65rem;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}



