.reminder-page {
  height: 120rem;
  margin: 0 auto;
  position: relative;
  display: flex;
}
.reminder-nav {
  height: 6%;
  width: 100%;
  padding-top: 1.2rem;
  border-bottom: 0.3px solid rgb(210, 210, 210);
  &-title {
    height: 4%;
    font-size: 3rem;
    margin: 2rem 1rem;
  }
}
.reminder {
  // background-color: #afafaf;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  &-main {
    // background-color: $color-nav;
    // border: solid #22cfb1 1px;
    // flex-direction: column;
    border-radius: 5px;
    margin: 8rem auto;
    width: 50%;
    height: 50%;
    display: flex;
    padding: 2rem 2rem;
    box-shadow: 0px 2px 5px rgb(124, 124, 124);
  }
}

.calendar {
  display: flex;
  width: 100%;
  padding-left: 5%;
  // height: 55%;
}
