.reminder {
  background-color: #ffffff;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.459);
  // height: 150rem;
  width: 120rem;
  margin: 0 auto;
  position: relative;
  display: flex;

  &-container {
    width: 100%;
  }

  &-drop {
    margin-left: 5rem;
    margin-top: 10rem;
  }
}

