.reminder {
  background-color: #ffffff;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  height: 105rem;
  margin: 0 auto;
  position: relative;
  display: flex;

  &-container {
    width: 100%;
  }

  &-drop {
    margin-left: 5rem;
    margin-top: 10rem;
  }
}

