.sidebar {
  color:white;
  background-color: $color-sidebar;
  // white-space: nowrap;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 30rem;
  position: relative;
  min-width: 16rem;
  width: 16rem;
  text-align: center;
  // align-items: center;

  &--title {
    color: rgb(255, 255, 255);
    border-right:  0.3px solid rgba(255, 255, 255, 0.66);
    font-size: 3rem;
    height: 6rem;
    background-color: $color-logo-bg;
  }
  &--dot {
    color: $color-primary;
    font-size: 6rem;
  }
  
  &-pic {
  display: inline;
  height: 100%;
  // width: 100%;
  position: relative;
  }
}

.sidebar-profile {
  display: flex;
  margin-left: 4rem;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 0px 5px rgb(211, 211, 211);
  justify-content: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  margin-bottom: 2rem;
}

.sidebar-links {
  margin-top: 2rem;
  padding-top: 1rem;
  height: 100%;
  width: 100%;
  background-color: rgba(63, 63, 63, 0.336);
  // display: flex;
}

.fa-fw {
  padding-right: 0.5rem;
}