// Colors
$color-primary: #22CFB1;
$color-secondary: #E86C62;
$color-sidebar: rgb(37, 37, 37);
$color-nav: rgb(45, 45, 45);
$color-logo-bg:rgba(63, 63, 63, 0.336);

$color-white: #fff;
// loader colors
$color-background: black;
$color-loader: #ce4233;
//Borders
$main-border: 0.3px solid rgb(193, 193, 193);


