.signup {
  box-shadow: none;
  height: 85rem;
  margin: 0 auto;
  display: flex;
  height: 100rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-size: cover;
  position: relative;

  &-foreground {
    display: flex;
    width: 115rem;
    height: 90rem;
    color: rgb(255, 255, 255);
    box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.294);
    @include respond(tab-port) {
      width: 90rem;
    }
    @include respond(phone)  {
      width: 50rem;
      box-shadow: none;
    }
  }
  &--container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    @include respond(tab-port) {
      height: 70rem;
      width: 90rem;
      // width: 125%;
    }

  }

  &--header {
    font-size: 3rem;
    color: black;
    margin-top: 5rem;
  }


  &--title {
    color: black;
    font-size: 6rem;
    height: 6rem;
  }
  &--dot {
    color: $color-primary;
    font-size: 6rem;
  }

  &--img {
    width: 50%;
  }
  
  
  &-imgbox {
    background-color: rgba(255, 255, 255, 0.288);
    display: flex;
    justify-content: center;
    position: relative;
    width: 115rem;
    height: 90rem;
    @include respond(tab-port) {
      height: 70rem;
      width: 90rem;
      // width: 125%;
    }
    @include respond(phone)  {
      width: 0;
    }
  }

  &--img {
    // background-color: rgba(255, 255, 255, 0.226);
    // max-Height: 100%;
    width: 100%;
    // @include respond(phone)  {
    //   max-Height: 0;
    // }
  }
  &-headline {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40rem;
    color: rgb(78, 65, 65);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.11);
    margin: 10rem 10rem;
    font-size: 5rem;
    font-weight: 700;
    top: 15rem;
    left: 0rem;
    line-height: 50%;
    @include respond(tab-port) {
      width: 25rem;
    }
    @include respond(phone)  {
      width: 0;
      color: transparent;
    }
  }
  
  &-headline2 {
    display: flex;
    text-align: center;
    color: white;
    margin-top: 2rem;
    font-size: 2rem;
  }
}
