.signup {
  background-color: blue;
  box-shadow: none;
  height: 85rem;
  margin: 0 auto;
  display: flex;
  height: 100rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-size: cover;
  position: relative;
  
  &-foreground {
    display: flex;
    width: 115rem;
    height: 90rem;
    color: rgb(255, 255, 255);
    box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.294);

  }
  &--container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    position: relative;

  }

  &--form {
  }
  &--header {
    font-size: 3rem;
    color: black;
    margin-top: 5rem;
  }


  &--title {
    
    color: black;
    font-size: 6rem;
    height: 6rem;
  }
  &--dot {
    color: $color-primary;
    font-size: 6rem;
  }

  &--img {
    width: 50%;
  }

  &-headline {
    color: #FF530D;
    position: absolute;
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.365);
    top: 20rem;
    left: 25rem;
  }

  &-headline2 {
    font-weight: 400;
    font-size: 3rem;
    position: absolute;
    top: 4.9rem;

  }
}