.dropdown {
  width: 100%;
  &-option {
    cursor: pointer;
    height: 4rem;
    display: flex;
    justify-content: center;

    p {
      height: 100%;
      width: 100%;
      padding: 1rem 1rem;
      text-anchor: middle;
    }
    &:hover {
      color: #22cfb1;
    }
  }
  &-select:active,
  &-select:focus,
  &-select:after,
  &-select:before {
    outline: none;
    background-color: #cfcfcf;
  }
  &-not {
    outline: none;
  }
}
