
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
  background-size: fill;

}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 32.5%; 16px is browser default
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(129, 129, 129);
}

ul {
  list-style:none;
}

button:focus {
  outline: 0;
  border-radius:15px;
}

.active {
  color: #22CFB1;
}


// .App {
//   background-color: #ffffff;
//   /* offset-x | offset-y | blur-radius | spread-radius | color */
//   box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.459);
//   height: 100rem;
//   width: 120rem;
//   margin: 10rem auto;
//   position: relative;
// }

// .App-sign {
//   display: flex;
//   justify-content: space-between;
// }